.crystals {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.crystal {
    border: 1px solid blue;
    height: 200px;
    width: 200px;
    border-radius: 55%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}